.mat-dialog-container{
    padding: 0px !important;
}

.textColor{
    color: white;
}

.boldText{
    font-weight:600; 
    font-style: italic;
}

.mat-column-memberId {
    flex: 0 0 8vw !important;
}

.lableWidth {
    width: 100% !important;
}

.buttonClass{
    min-width: 45px;
    line-height: 10px;
}

.UnassignButton{
    min-width: 45px;
    line-height: 10px;
    padding: 10px 7px!important;
}
