.breadcrumb li {
  display: inline-flex;
}
.breadcrumb li+li:before {
  content: " > ";
  color: black;
}
.breadcrumb{
  padding: 20px;
  div{
    color: black;
  }
}

.linkUnderline:hover{
 text-decoration: underline;
 cursor: pointer;
}