.mat-dialog-container {
    padding: 0px !important;
}

.textColor {
    color: white;
}

.mat-cell, .mat-header-cell{
    justify-content: left;
}

.cursorPointer{
    cursor:pointer !important;
}

.matcardRowBackground{
    margin:-15px !important; 
    background: white !important;
    padding: 15px !important;
    border-radius: 6px !important;
}